#stream, #streamPlayer
{
	position			: fixed;
	right				: -100%;
}

body
{
	margin				: 20px;
	margin-top			: 50px;
	overflow-x			: hidden;
}

[hash-location]
{
	background-color	: #eee;
	padding				: 10px;
	display				: none;
}
[hash-location].active
{
	display				: block;
}



#player
{
	height				: 50px;
}

#player .play-button
{
	background			: none;
	border				: 0px;
}
#player .play-button.playing:before
{
	content				: '\25AE\25AE';
}
#player .play-button.paused:before
{
	content				: '\2023';
	font-size			: 200%;
}

#player .slider, #player .slider *
{
	position			: absolute;
	border-radius		: 20px;
	outline-width		: 0px;
}
#player .goog-slider-horizontal
{
	background-color	: #a3c6ff;
	display				: inline-block;
	height				: 15px;
	width				: 500px;
	margin-top			: 4px;
	cursor 				: pointer;
}
#player .goog-slider-thumb
{
	background-color	: whiteSmoke;
	height				: 10px;
	width				: 10px;
	top					: 3px;
}


#library-table
{
	width				: 100%;
	text-align			: left;
}
#library-table th
{
	cursor 				: pointer;
}
#library-table [ng-repeat] [ng-click]
{
	height				: 22px;
	width				: 100%;
	position			: absolute;
	cursor 				: pointer;
}

.now-playing
{
	background-color	: rgba(0, 50, 255, 0.30);
}


/***** Bootstrap navbar adjustments *****/

.navbar .container
{
	width			: 95%;
}

.navbar-inner
{
	min-height		: 0px;
	max-height		: 30px;
}

.navbar a
{
	padding-top		: 5px !important;
	padding-bottom	: 5px !important;
}

.navbar form * {
	padding-top		: 0px !important;
	padding-bottom	: 0px !important;
	margin-top		: 5px !important;
}

