<!DOCTYPE html>
<html manifest='napster.appcache' class='no-js' ng-app='Napster'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
		<title>Napster.fm &ndash; Free music and stuff</title>
		<meta name='description' content='Kinda like the original Napster but cooler.' />
		<meta name='viewport' content='width=device-width' />

		<link rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css' />
		<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css' />
		<link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css' />
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/humane-js/3.0.6/themes/original.css' />
		<link rel='stylesheet' href='css/napster.css' />

		<!--[if lt IE 9]>
			<script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'></script>
		<![endif]-->
	</head>
	<body ng-controller='Controller'>

		<div class='navbar navbar-inverse navbar-fixed-top'>
			<div class='navbar-inner'>
				<div class='container'>
					<a class='brand' href='#home'>Napster.fm</a>
					<div class='nav-collapse collapse'>
						<ul class='nav'>
							<li class='active'><a href='#home'>Home</a></li>
							<li><a href='#chat'>Chat</a></li>
							<li><a href='#library'>Library</a></li>
							<li><a href='#search'>Search</a></li>
							<li><a href='#hotlist'>Hot List</a></li>
							<li><a href='#transfer'>Transfer</a></li>
							<li><a href='#discovery'>Discovery</a></li>
							<li><a href='#about'>About</a></li>
						</ul>
						<div id='user-greeting' class='pull-right' ng-class='ui.tempUserClass'>
							I love you, {{authentication.username}}
						</div>
						<div id='login-greeting' class='pull-right' ng-class='ui.tempUserClass'>
							<a href='#login'>Log in or Register</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id='player'>
			<button onclick='stream.play(!stream.isPlaying, true)' class='play-button' ng-class='ui.playButtonClass'></button>
			<div class='slider'></div>
			<span class='track'>"{{datastore.data.user.current.nowPlaying.track.title}}" by {{datastore.data.user.current.nowPlaying.track.artist}}</span>
			<span class='time'>{{stream.newTimeProcessed}} / {{datastore.data.user.current.nowPlaying.track.length}}</span>
			<button onclick='stream.repeat()' class='repeat-button icon-refresh' ng-class='ui.repeatButtonClass'></button>
			<button onclick='stream.shuffle()' class='shuffle-button icon-random' ng-class='ui.shuffleButtonClass'></button>
			<input onenterpress='stream.syncByUsername(this.value)' id='following' class='pull-right' type='text' />
			<label for='following' class='pull-right'>Following:</label>
		</div>


		<div hash-location='#home'>
			<div class='hero-unit'>
				<h1>Napster.fm</h1>
				<h2>Like OG Napster, but slightly cooler</h2>

				<br />

				<div class='row-fluid'>
					<div class='span12'>
						<h4>A few features that make Napster.fm better than Napster of old:</h4>
					</div>
				</div>
				<div class='row-fluid'>
					<div class='span7'>
						<h3>Real-time syncing</h3>
						<p>Every one of your open Napster.fm windows &ndash; anywhere in the world &ndash; will keep their players synced</p>
						<p>Alternatively, you can choose to follow any other user and listen in on their music</p>
					</div>
					<div class='span5'>
						<h3>Web-based (exclusively, for now)</h3>
						<p>Your music collection travels with you</p>
				   </div>
				</div>
				<div class='row-fluid'>
					<div class='span7'>
						<h3><a href='//github.com/buu700/napster.fm/'>Open source</a></h3>
						<p>Possibility of Napster.fm disappearing: 0</p>
				   </div>
					<div class='span5'>
						<h3>You won't get arrested</h3>
						<p><a class='btn btn-primary' href='#about'>Learn more &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>


		<div hash-location='#chat'>
			<div class='alert alert-info' ng-repeat='groupinvite in datastore.data.user.current.groupinvites'>
				{{groupinvite.from}} has invited you to {{groupinvite.groupname}}!
				<button class='btn pull-right' ng-click='chat.rejectInvite(groupinvite.id)'>Reject Invite</button>
				<button class='btn btn-inverse pull-right' ng-click='chat.acceptInvite(groupinvite.id)'>Accept Invite</button>
			</div>
			<div class='tabbar navbar'>
				<div class='navbar-inner'>
					<button onclick='chat.removeFromGroup(datastore.data.activeGroup.id)' class='icon-remove btn pull-left'></button>
					<ul class='nav'>
						<li ng-repeat='group in datastore.data.group' ng-class='{active: group.id == datastore.data.activeGroup.id}'>
							<a ng-click='chat.switchToGroup(group.id)'>{{group.name}}</a>
						</li>
					</ul>
					<input onenterpress='chat.createGroup(this.value); this.value = null;' id='groupcreate' class='pull-right' type='text' />
					<label for='groupcreate' class='pull-right'>
						<span class='icon-plus'></span>
						Create group:
					</label>
				</div>
			</div>
			<div class='row-fluid'>
				<div class='chatwindow span8'>
					<div ng-repeat='message in datastore.data.activeGroup.messages'>
						<strong>{{message.author}}:</strong>
						<span>{{message.text}}</span>
						<span class='pull-right'>{{message.created}}</span>
					</div>
				</div>
				<div class='span4'>
					<strong class='chatmembersheader'>Members</strong>
					<label for='chatinvite' class='pull-left'>
						<span class='icon-plus'></span>
						Invite friend:
					</label>
					<input onenterpress='chat.inviteToGroupProcessor(this)' id='chatinvite' class='pull-left' type='text' />
					<table class='chatmembers'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Listening To</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='member in datastore.data.activeGroup.members'>
								<td>{{member.username}}</td>
								<td>{{member.listeningTo}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<textarea class='chatmessage' onenterpress='chat.sendMessage(this.value, datastore.data.activeGroup.id); this.value = null;'></textarea>
		</div>


		<div hash-location='#library'>
			<table id='library-table'>
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Artist</th>
						<th>Genre</th>
						<th>Year</th>
						<th>Length</th>
						<th>Last Played By</th>
						<th>Last Played</th>
						<th>Plays</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='track in datastore.data.user.current.library' ng-class='track.nowPlayingClass'>
						<td ng-click='stream.loadTrack(track.id, undefined, true)'></td>
						<td>{{track.title}}</td>
						<td>{{track.artist}}</td>
						<td>{{track.genre}}</td>
						<td>{{track.year}}</td>
						<td>{{track.length}}</td>
						<td>{{track.lastPlayedBy}}</td>
						<td>{{track.lastPlayed}}</td>
						<td>{{track.playCount}}</td>
					</tr>
				</tbody>
			</table>

			<div class='empty-track-table' ng-class='ui.libraryEmptyClass'>
				Your library is empty; what are you doing with your life?
			</div>
		</div>


		<div hash-location='#search'>
			<div class='row-fluid'>
				<span class='span4'>
					<input id='search-title' class='pull-right' onenterpress='services.processedSearch()' type='text' />
					<label for='search-title'>Title:</label>
				</span>
				<span class='span4'>
					<input id='search-artist' class='pull-right' onenterpress='services.processedSearch()' type='text' />
					<label for='search-artist'>Artist:</label>
				</span>
			</div>

			<table id='search-table'>
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Artist</th>
						<th>Genre</th>
						<th>Year</th>
						<th>Length</th>
						<th>Last Played By</th>
						<th>Last Played</th>
						<th>Plays</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='track in services.searchResults' ng-class='track.nowPlayingClass'>
						<td ng-click='library.addTrack(track.id)' onclick='document.location.hash = "#library"'></td>
						<td>{{track.title}}</td>
						<td>{{track.artist}}</td>
						<td>{{track.genre}}</td>
						<td>{{track.year}}</td>
						<td>{{track.length}}</td>
						<td>{{track.lastPlayedBy}}</td>
						<td>{{track.lastPlayed}}</td>
						<td>{{track.playCount}}</td>
					</tr>
				</tbody>
			</table>

			<div class='empty-track-table' ng-class='ui.searchNoResultsClass'>
				Sorry mate, no results
			</div>
		</div>


		<div hash-location='#hotlist'>
			<div class='row-fluid'>
				<div class='span8'>
					<table id='hotlist-library'>
						<thead>
							<tr>
								<th></th>
								<th>Title</th>
								<th>Artist</th>
								<th>Genre</th>
								<th>Year</th>
								<th>Length</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='track in datastore.data.activeHotlistMember.library' ng-class='track.nowPlayingClass'>
								<td ng-click='library.addTrack(track.id); stream.loadTrack(track.id, undefined, true);'></td>
								<td>{{track.title}}</td>
								<td>{{track.artist}}</td>
								<td>{{track.genre}}</td>
								<td>{{track.year}}</td>
								<td>{{track.length}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class='span4'>
					<strong class='chatmembersheader'>Friends</strong>
					<label for='hotlistinvite' class='pull-left'>
						<span class='icon-plus'></span>
						Add friend:
					</label>
					<input onenterpress='library.addToHotlistProcessor(this)' id='hotlistinvite' class='pull-left' type='text' />
					<table class='chatmembers'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Listening To</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat='member in datastore.data.user.current.hotlist'
								ng-click='library.switchActiveHotlistMember(member.id)'
								ng-class='{hotlistactive: member.id == datastore.data.activeHotlistMember.id}'
							>
								<td>{{member.username}}</td>
								<td>{{member.listeningTo}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div hash-location='#transfer'>
			<div class='alert alert-info' ng-repeat='transfer in datastore.data.user.current.transfers'>
				{{transfer.from.username}} has requested that you add "{{transfer.track.title}}" by {{transfer.track.artist}}!
				<button class='btn pull-right' ng-click='library.rejectTransfer(transfer.id)'>Reject Transfer</button>
				<button class='btn btn-inverse pull-right' ng-click='library.acceptTransfer(transfer.id)'>Accept Transfer</button>
			</div>
			<div class='row-fluid'>
				<div class='span8'>
					<table id='transfer-library'>
						<thead>
							<tr>
								<th></th>
								<th>Title</th>
								<th>Artist</th>
								<th>Genre</th>
								<th>Year</th>
								<th>Length</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='track in datastore.data.user.current.library' ng-class='track.nowPlayingClass'>
								<td ng-click='library.transferTrack(track.id)'></td>
								<td>{{track.title}}</td>
								<td>{{track.artist}}</td>
								<td>{{track.genre}}</td>
								<td>{{track.year}}</td>
								<td>{{track.length}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class='span4' ng-class='{hide: library.trackToTransfer == null}'>
					<strong class='chatmembersheader'>Friends</strong>
					<label for='hotlistinvite' class='pull-left'>
						<span class='icon-plus'></span>
						Add friend:
					</label>
					<input onenterpress='library.addToHotlistProcessor(this)' id='hotlistinvite' class='pull-left' type='text' />
					<table class='chatmembers'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Listening To</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat='member in datastore.data.user.current.hotlist'
								ng-click='library.transferTrack(undefined, member.id)'
								ng-class='{hotlistactive: member.id == datastore.data.activeHotlistMember.id}'
							>
								<td>{{member.username}}</td>
								<td>{{member.listeningTo}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div hash-location='#discovery'>
			<table id='discovery-table'>
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Artist</th>
						<th>Genre</th>
						<th>Year</th>
						<th>Length</th>
						<th>Last Played By</th>
						<th>Last Played</th>
						<th>Plays</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='track in datastore.data.lastPlayed.array' ng-class='track.nowPlayingClass'>
						<td ng-click='library.addTrack(track.id)' onclick='document.location.hash = "#library"'></td>
						<td>{{track.title}}</td>
						<td>{{track.artist}}</td>
						<td>{{track.genre}}</td>
						<td>{{track.year}}</td>
						<td>{{track.length}}</td>
						<td>{{track.lastPlayedBy}}</td>
						<td>{{track.lastPlayed}}</td>
						<td>{{track.playCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div hash-location='#about'>
			
		</div>


		<div hash-location='#login'>
			<a href='#home' class='icon-remove'></a>
			<div class='row-fluid'>
				<h4>LOG IN OR REGISTER</h4>
			</div>
			<div class='row-fluid'>
				<br />
			</div>
			<div class='row-fluid'>
				<label for='login-username'>username</label>
				<input id='login-username' type='text' />
			</div>
			<div class='row-fluid'>
				<label for='login-password'>password</label>
				<input id='login-password' type='password' />
			</div>
			<div class='row-fluid'>
				<br />
				<br />
				<br />
			</div>
			<div class='row-fluid'>
				<span class='span5'>
					<button class='btn btn-inverse pull-right' onclick='authentication.login()'>Log in to existing account</button>
				</span>
				<span class='span2'>
					- or -
				</span>
				<span class='span5'>
					<button class='btn pull-left' onclick='authentication.createUser()'>Create a new account</button>
				</span>
			</div>
		</div>


		<div class='container'>
			<hr />
			<footer>
				<p>
					&copy; Napster.fm 2012
						&nbsp;&bull;&nbsp;
					<a href='mailto:hacker@linux.com' style='color: inherit; text-decoration: none;'>hacker@linux.com</a>
						&nbsp;&bull;&nbsp;
					+1(337) 935 0016
				</p>
			</footer>

		</div>


		<div id='stream'></div>
		<div id='page-loading-overlay' ng-class='ui.readyClass'></div>
		<div id='page-loading-spinner' ng-class='ui.readyClass'></div>


		<!-- Firebase: Real-time frontend-driven data store; http://firebase.com/ -->
		<script src='//cdn.firebase.com/v0/firebase.js'></script>
		<script src='//cdn.firebase.com/v0/firebase-auth-client.js'></script>

		<!-- Sugar: Extends prototypes with helper functions (cf. Underscore) and adds JS 1.6 support to ancient browsers; http://sugarjs.com/api -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/sugar/1.3.7/sugar.min.js'></script>

		<!-- AngularJS: Declarative MVC framework; http://angularjs.org/ -->
		<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js'></script>

		<!-- Humane.js: Notification library; http://wavded.github.com/humane-js/ -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/humane-js/3.0.6/humane.min.js'></script>


		<!-- COMPILE START -->

		<!-- Closure Library: JS standard library; https://developers.google.com/closure/library/ -->
		<script src='js/closure-library/closure/goog/base.js'></script>
		<script src='js/require.js'></script>
		
		<script src='js/closurequery.js'></script>
		
		<script src='js/chat.js'></script>
		<script src='js/authentication.js'></script>
		<script src='js/datastore.js'></script>
		<script src='js/datahelpers.js'></script>
		<script src='js/debug.js'></script>
		<script src='js/services.js'></script>
		<script src='js/stream.js'></script>
		<script src='js/library.js'></script>
		<script src='js/ui.js'></script>
		<script src='js/controllers.js'></script>
		
		<script src='js/init.js'></script>

		<!-- COMPILE END -->


		<!-- YouTube API: Video-sharing Web site; http://www.youtube.com/ -->
		<script src='//www.youtube.com/iframe_api'></script>
	</body>
</html>
